.display-doctor-list{
    height: 1000px;
    width: 100vw;
    background-color: #f1f5f9;
}
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  .heading h1{
    color: white;
  }
  .search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    margin: 20px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 10px;
  }
  
  .search-button {
    padding: 10px;
    height: 60px;
    width: 150px;

    background-color: #312e81;
    color: white;
    font-size: 15px;
    border-radius: 12px;
font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .doctor-card {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .doctor-item-container{
    width:50% ;

  }
  .doctor-card h2{
    font-size: 50px;
    color: #312e81;
    width: 80%;
  }
  .doctor-image {
   
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .doctor-card p{
    width: 90%;
  }
  .doctor-image-container img{
    height: 100%;
  }